<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
    <body>
        <div>
            {% for item in content %}
                {% if item.0 == 1 %}
                    <img src="{{ item.1 }}">
                {% elif item.0 == 2 %}
                    <p>{{ item.1 }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>

<style>
    div {
        margin: auto;
        text-align: center;
    }
    img {
        display: inline-block;
        width: 50%;
        margin: 20px;
        border:1px solid black;
    }
    p {
        margin: auto;
        width: 50%;
        text-align: left;
    }
</style>